*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    list-style: none;
}

body{
    background-color: #eae8e4;
}

.width-page{
    max-width: 1800px;
    margin: 0 auto;
    padding-inline: 24px;
    width: 100%;
}

header{
    background-color: #2d2d2d;
    color: #eae8e4;
    border-radius: 0 0 30px 30px;
    
}
header .header-page{
background-image: url('./assets/img/logos-monks.svg');
background-repeat: no-repeat;
background-position: right;
background-size: contain;
height: auto;

}

header .box-menu{
    display: flex;
    align-items: center;
    gap: 40px;
    padding-block: 30px;
}

header .header-page .box-menu .nav-menu ul{
    display: flex;
    flex-direction: row;
    gap: 40px;
}

header .header-page .box-menu .nav-menu li a{
    color: #eae8e4;
}

header .header-page .box-text {
    margin-block: 24px;
    max-width: 620px;
}

header .header-page .box-text h1{
    max-width: 620px;
    font-size: 44px;
    margin-bottom: 16px;
}

header .header-page .box-text p{
    color: #8b898b;
    font-size: 18px;
    max-width: 500px;
    margin-block: 16px;
}

header .header-page .box-text .scroll{
  max-width: 620px;
  text-align: center;
  padding-block: 14px;
}


@media (max-width: 720px) {
    header .header-page {
        background-image: url('./assets/img/Image_responsive.svg');
        
    }

    header .header-page .box-text {
        max-width: 390px;
        border: 1px solid blue;
    }

    header .header-page .box-text h1 {
      font-size: 26px; 
    }
  
    header .header-page .box-text p {
      font-size: 16px;
    }
  }
  
  @media (max-width: 480px) {
    header .header-page {
        background-image: url('./assets/img/Image_responsive.svg');
    }

    header .header-page .box-text {
        max-width: 190px;
        border: 1px solid blue;
    }

    header .header-page .box-text h1 {
        font-size: 26px; 
      }
    
      header .header-page .box-text p {
        font-size: 16px;
      }  
  }