@media (max-width: 1265px) {
    main .downloads .box-downloads {
      margin-top: 20px;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  
    .buttons-downloads {
      flex-direction: column;
      align-items: center;
    }
    .btn-download {
      width: 100%;
    }
    main .downloads .box-text-downloads p {
      margin-bottom: 1px;
    }
    main .formulario .secao-formulario{
      flex-direction: column;
    }
    main .formulario .secao-formulario .box-formulario{
      width: 70vw;
    }
    
  main .formulario .secao-formulario .imagem-contato{
    width: 314px;
  }
  }
  
  @media (max-width: 968px) {
    main .turismo .box-images-locais .box-image-info {
      width: 45vw;
      height: auto;
    }
  
    main .turismo .box-images-locais .box-image-info img {
      width: 100%;
      object-fit: cover;
    }
  
    main .viagens {
      grid-template-columns: 1fr;
      grid-template-areas:
        "texto"
        "image1"
        "image2"
        "image3";
    }
  
    .image1,
    .image2,
    .image3 {
      width: 100%;
    }
  
    .container-resultado{
      display: flex;
     flex-direction: column;
    }
  }
  
  @media (max-width: 720px) {
    header {
      border-radius: 0 0 0 0;
    }
  
    main .turismo .box-images-locais .box-image-info {
      width: 90vw;
      height: auto;
    }
  
    main .turismo .box-images-locais .box-image-info img {
      width: 100%;
      object-fit: cover;
    }
  
    header .header-page {
      background-image: url("./assets/img/Image_responsive.svg");
      background-size: contain;
    }
  
    header .box-menu .logo {
      margin-top: 0;
    }
  
    header .header-page .box-menu .nav-menu ul {
      position: absolute;
      top: 70px;
      left: 0;
      right: 0;
      flex-direction: column;
      background-color: var(--color-primary);
      overflow: hidden;
      height: 100vh;
      align-items: center;
      align-items: center;
      justify-content: center;
      gap: 40px;
      padding: 0;
      margin: 0;
    }
    header .header-page .box-menu .nav-menu ul li a {
      color: #2d2d2d;
      font-size: 18px;
      font-weight: bold;
    }
  
    header .box-menu .menu-icon {
      display: block;
    }
  
    #menuList {
      transition: all 0.5s;
    }
  
    header .header-page .box-text {
      max-width: 290px;
    }
  
    header .header-page .box-text h1 {
      font-size: 26px;
    }
  
    header .header-page .box-text p {
      font-size: 16px;
    }
    main .brindes .box-content .products {
      justify-content: flex-start;
    }
    main .brindes .box-content .products a {
      width: 45%;
    }
    main .brindes .box-content .box-brindes-descripion {
      flex-direction: column;
      margin-bottom: 14px;
    }
    main .brindes .box-content .box-brindes-descripion .box-text-descripion {
      width: 100%;
  
      margin-bottom: 10px;
    }
  
    main .formulario .secao-formulario .box-formulario .form-contato .inputs{
      grid-template-columns: 1fr;
    }
  
    main .formulario .secao-formulario .box-formulario .form-contato .container-resultado .box-verificacao {
      flex-direction: column;
      gap: 20px; 
    }
  
    main .formulario .secao-formulario .box-formulario .form-contato .container-resultado .box-verificacao .soma {
      justify-content: center;
    }
  
    main .formulario .secao-formulario .box-formulario .form-contato .container-resultado .box-verificacao input[type="text"] {
      margin-top: 10px;
    }
  }
  
  @media (max-width: 480px) {
    header .header-page {
      background-image: url("./assets/img/Image_responsive.svg");
    }
  
    header .header-page .box-text {
      max-width: 190px;
    }
  
    header .header-page .box-text h1 {
      font-size: 26px;
    }
  
    header .header-page .box-text p {
      font-size: 16px;
    }
    main .brindes .box-content .products.products a {
      width: 100%;
    }
    footer .box-rodape .nav-rodape ul {
      justify-content: center; 
      text-align: center; 
    }
  
  }
  