* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  list-style: none;
}

body {
  background-color: #eae8e4;
}

.width-page {
  max-width: 1360px;
  margin: 0 auto;
  padding-inline: 24px;
  width: 100%;
}

header {
  background-color: #2d2d2d;
  color: #eae8e4;
  border-radius: 0 0 30px 30px;
}
header .header-page {
  background-image: url("./assets/img/logos-monks.svg");
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  height: 460px;
}

header .box-menu {
  display: flex;
  align-items: center;
  gap: 40px;
  padding-block: 30px;

  position: relative;
  height: 70px;
}

header .box-menu .menu-icon {
  display: none;
  cursor: pointer;
  margin-left: -30px;
}
header .box-menu .logo {
  margin-top: 14px;
}

header .box-menu .menu-icon i {
  color: #eae8e4;
  font-size: 30px;
}

header .header-page .box-menu .nav-menu ul {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

header .header-page .box-menu .nav-menu li a {
  color: #eae8e4;
}

header .header-page .box-text {
  margin-block: 24px;
  max-width: 620px;
}

header .header-page .box-text h1 {
  max-width: 620px;
  font-size: 44px;
  margin-bottom: 16px;
}

header .header-page .box-text p {
  color: #8b898b;
  font-size: 18px;
  max-width: 500px;
  margin-block: 16px;
}

header .header-page .box-text .scroll {
  max-width: 620px;
  text-align: center;
  padding-block: 14px;
}

main {
  padding-block: 10px;
}

main .turismo {
  display: flex;
  flex-direction: column;
  padding-block: 40px;
}
main .turismo .box-info h2 {
  font-size: 54px;
  color: #2d2d2d;
}
main .turismo .box-info p {
  font-size: 24px;
  margin-top: 12px;
  margin-bottom: 40px;
  color: #2d2d2d;
}

main .turismo .box-images-locais {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 30px;
}

main .turismo .box-images-locais .box-image-info {
  background-color: #fff;
  height: 410px;
  border-radius: 10px;
  padding: 5px;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

main .turismo .box-images-locais .box-image-info:hover {
  transform: scale(1.05);
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
}

main .turismo .box-images-locais .box-image-info h3 {
  color: #2d2d2d;
  font-size: 24px;
  padding: 10px;
}
main .turismo .box-images-locais .box-image-info p {
  color: #2d2d2d;
  font-size: 18px;
  padding-inline: 10px;
  max-width: 300px;
  line-height: 28px;
}

main .turismo .box-images-locais .box-image-info img {
  width: 300px;
  object-fit: cover;
}

main .viagens .box-text-viagens h2 {
  font-size: 54px;
  color: #2d2d2d;
}
main .viagens .box-text-viagens p {
  font-size: 24px;
  padding-block: 18px;
  color: #2d2d2d;
}

main .viagens {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
    "texto texto image2 image2"
    "image1 image1 image2 image2"
    "image1 image1 image3 image3"
    "image1 image1 image3 image3";
  margin-bottom: 40px;
}

main .viagens .box-text-viagens {
  grid-area: texto;
}

main .viagens .image1,
main .viagens .image2,
main .viagens .image3 {
  position: relative;
  overflow: hidden;
  border-radius: 30px;
}

main .viagens .image1 {
  grid-area: image1;
}

main .viagens .image2 {
  grid-area: image2;
  width: 100%;
}

main .viagens .image3 {
  grid-area: image3;
  width: 100%;
}

main .viagens img {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-radius: 15px;
}
.image1:hover img,
.image2:hover img,
.image3:hover img {
  transform: scale(1.1);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
}

main .downloads {
  background-color: #3c0c60;
  border-radius: 20px;
  width: 94%;
}

main .downloads .box-downloads {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-block: 24px;
}

main .downloads .box-text-downloads {
  max-width: 860px;
}

main .downloads .box-text-downloads h2 {
  font-size: 40px;
  color: #eae8e4;
  margin-bottom: 10px;
}

main .downloads .box-text-downloads p {
  font-size: 20px;
  color: #eae8e4;
}

.buttons-downloads {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.btn-download {
  display: flex;
  align-items: center;
  padding: 10px 40px;
  background-color: #000;
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
  font-size: 22px;
  border: none;
}

.btn-download i {
  margin-right: 10px;
  font-size: 45px;
}

.btn-download span {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.btn-download strong {
  font-weight: bold;
}

main .brindes {
  margin-block: 60px;
}

main .brindes .box-content h2 {
  font-size: 54px;
  color: #2d2d2d;
}

main .brindes .box-content .products {
  max-width: 900px;
  margin: 20px auto;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  padding: 20px;
  text-align: center;
}

main .brindes .box-content .products a {
  background-color: #dfdcd5;
  border: 2px solid #7d26c9;
  border-radius: 25px;
  color: #7d26c9;
  text-align: center;
  padding: 10px 15px;
  font-size: 20px;
  font-weight: bold;
  transition: all 0.3s;
}

main .brindes .box-content .products a:hover {
  transform: scale(1.05);
}

main .brindes .box-content .box-brindes-descripion {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
main .brindes .box-content .box-brindes-descripion .box-text-descripion {
  width: 31%;
  border: 2px solid #dfbbfe;
  background-color: #fff;
  padding: 20px;
  border-radius: 15px;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}
main .brindes .box-content .box-brindes-descripion .box-text-descripion h3 {
  font-size: 24px;
  margin-bottom: 20px;
}
main .brindes .box-content .box-brindes-descripion .box-text-descripion p {
  font-size: 20px;
  line-height: 26px;
  margin-bottom: 20px;
}
main .brindes .box-content .box-brindes-descripion .box-text-descripion a {
  text-align: center;
  background-color: #dfbbfe;
  padding: 8px 40px;
  border-radius: 5px;
  align-self: center;
}

main .formulario{
  background-color: #2d2d2d;
  padding-block: 60px;
}

main .formulario .secao-formulario .imagem-contato{
  background-image: url('./assets/img/fale-conosco.svg');
  height: 300px;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
}

main .formulario .secao-formulario{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #dfbbfe;
  padding-bottom: 60px;
  gap: 30px;
 
}

main .formulario .secao-formulario .box-formulario{
width:180vw;
background-color: #eae8e4;
border-radius: 20px;
padding: 30px;

}

main .formulario .secao-formulario .box-formulario h3{
  font-size: 36px;
  color: #2d2d2d;
  margin-bottom: 10px;
}

main .formulario .secao-formulario .box-formulario p{
  font-size: 22px;
  color: #2d2d2d;
  margin-bottom: 10px;
}

main .formulario .secao-formulario .box-formulario strong{
  font-size: 14px;
  color: #2d2d2d;

}

main .formulario .secao-formulario .box-formulario .form-contato .inputs{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px; 
  margin-top: 10px;
  margin-bottom: 30px;
}

main .formulario .secao-formulario .box-formulario .form-contato .inputs input,
main .formulario .secao-formulario .box-formulario .form-contato .box-verificacao input{
  padding: 10px;
  outline: none;
  border: none;
  border-radius: 7px;
}

main .formulario .secao-formulario .box-formulario .form-contato button{
  padding: 10px 50px;
  border: none;
  background-color: #dfbbfe;
  border-radius: 7px;
  color: #8b898b;
  font-weight: bold;
  cursor: pointer;
  margin-top: 40px;
}

main .formulario .secao-formulario .box-formulario .form-contato .container-resultado .box-verificacao{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main .formulario .secao-formulario .box-formulario .form-contato .container-resultado .box-verificacao .soma{
  display: flex;
  padding-inline: 20px;
  gap: 20px;
  border-radius: 7px;
  background-color: #dfdcd5;  
}
main .formulario .secao-formulario .box-formulario .form-contato .container-resultado .box-verificacao .soma .num{
  color: #7d26c9;
  font-weight: bold;
}
main .formulario .secao-formulario .box-formulario .form-contato .container-resultado .box-verificacao .soma p{
  margin-top: 10px;
}

main .formulario .secao-formulario .box-formulario .form-contato h4{
  font-size: 24px;
  color: #2d2d2d;

}

footer{
  background-color: #2d2d2d;
}

@media (max-width: 1265px) {
  main .downloads .box-downloads {
    margin-top: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .buttons-downloads {
    flex-direction: column;
    align-items: center;
  }
  .btn-download {
    width: 100%;
  }
  main .downloads .box-text-downloads p {
    margin-bottom: 1px;
  }
  main .formulario .secao-formulario{
    flex-direction: column;
  }
  main .formulario .secao-formulario .box-formulario{
    width: 70vw;
  }
  
main .formulario .secao-formulario .imagem-contato{
  width: 314px;
}
}

@media (max-width: 968px) {
  main .turismo .box-images-locais .box-image-info {
    width: 45vw;
    height: auto;
  }

  main .turismo .box-images-locais .box-image-info img {
    width: 100%;
    object-fit: cover;
  }

  main .viagens {
    grid-template-columns: 1fr;
    grid-template-areas:
      "texto"
      "image1"
      "image2"
      "image3";
  }

  .image1,
  .image2,
  .image3 {
    width: 100%;
  }

  .container-resultado{
    border: 2px solid blue;
    display: flex;
   flex-direction: column;
  }
}

@media (max-width: 720px) {
  header {
    border-radius: 0 0 0 0;
  }

  main .turismo .box-images-locais .box-image-info {
    width: 90vw;
    height: auto;
  }

  main .turismo .box-images-locais .box-image-info img {
    width: 100%;
    object-fit: cover;
  }

  header .header-page {
    background-image: url("./assets/img/Image_responsive.svg");
    background-size: contain;
  }

  header .box-menu .logo {
    margin-top: 0;
  }

  header .header-page .box-menu .nav-menu ul {
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
    flex-direction: column;
    background-color: #dfbbfe;
    overflow: hidden;
    height: 100vh;
    align-items: center;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding: 0;
    margin: 0;
  }
  header .header-page .box-menu .nav-menu ul li a {
    color: #2d2d2d;
    font-size: 18px;
    font-weight: bold;
  }

  header .box-menu .menu-icon {
    display: block;
  }

  #menuList {
    transition: all 0.5s;
  }

  header .header-page .box-text {
    max-width: 290px;
  }

  header .header-page .box-text h1 {
    font-size: 26px;
  }

  header .header-page .box-text p {
    font-size: 16px;
  }
  main .brindes .box-content .products {
    justify-content: flex-start;
  }
  main .brindes .box-content .products a {
    width: 45%;
  }
  main .brindes .box-content .box-brindes-descripion {
    flex-direction: column;
    margin-bottom: 14px;
  }
  main .brindes .box-content .box-brindes-descripion .box-text-descripion {
    width: 100%;

    margin-bottom: 10px;
  }

  main .formulario .secao-formulario .box-formulario .form-contato .inputs{
    grid-template-columns: 1fr;
  }
}

@media (max-width: 480px) {
  header .header-page {
    background-image: url("./assets/img/Image_responsive.svg");
  }

  header .header-page .box-text {
    max-width: 190px;
  }

  header .header-page .box-text h1 {
    font-size: 26px;
  }

  header .header-page .box-text p {
    font-size: 16px;
  }
  main .brindes .box-content .products.products a {
    width: 100%;
  }
}
